.aboutback {
    background-image: url('./project_card_bg.png');
    background-size: 160% auto ;
    background-position: left top;
  }
  
  @media screen and (min-width: 1500px) {

    .container {
      
      background-image: url('./project_card_bg.png');
    background-size: 90% auto ;
    background-position: right top;
    }
    
  }