.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url('./data/background_pattern.svg');
  background-repeat: repeat-y;
  background-size: 100% auto;
  background-position: center top;
}

.navbar{
  background-image: url('./data/background_pattern.svg');
  background-size:  500%;
}

