.container { 
  background-image: url('../../public/assets/main_background/background_3.svg');
  background-repeat: repeat-y ;
  background-size:200% auto;
  background-position: center top;
}

@media screen and (min-width: 1500px) {

  .container {
    
    background-image: url('../../public/assets/main_background/background_3.svg');
    background-repeat: repeat-y;
    background-size: 150% auto;
    background-position: right top;
  }
  
}

.gradientback {
  height: 100%;
  background: linear-gradient(62deg, #410401, #140f0b, #000416);
  animation: gradient 10s ease infinite;
  background-size: 600% 600%;
}
@-webkit-keyframes gradient{
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
     background-position: 0% 50%;
  }
}
@keyframes gradient{
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
     background-position: 0% 50%;
  }
}