.navbarback { 
  background-image: url('./background_3.svg');
  background-repeat: repeat-y ;
  background-size:200% auto;
  background-position: right top;
}

@media screen and (min-width: 1500px) {

  .navbarback {
    background-image: url('./background_3.svg');
    background-repeat: repeat-y;
    background-size: 200% auto;
    background-position: right top;
  }
}